{% extends 'base.html.twig' %}

{% block title %}App Categories{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-4">Categories</h1>

    <ul class="list-group">
        {% for category in pagination if category %}
            <li class="list-group-item d-flex justify-content-between">
                <span>
                    <a href="{{ path('categories_show', {'id': category.id}) }}">
                        {{ category.name }} 
                    </a>
                    (todos: {{ category.todos.count }})
                </span>
                <form action="{{ path('categories_delete', {'id': category.id}) }}" 
                    method="POST">
                    <button type="submit" 
                        class="btn btn-danger btn-sm">Delete</button>
                </form> 
            </li>
        {% else %}
            <div class="text-center">There are no categories yet.</div>
        {% endfor %}
    </ul>

    <div class="mt-4 mb-4">
        {{ knp_pagination_render(pagination) }}
    </div>

    {{ form_start(form) }}
        <h4 class="mt-5 mb-3">Add new category</h4>

        {{ form_row(form.name) }}

        <button type="submit" class="btn btn-primary">Submit</button>
    {{ form_end(form) }}
{% endblock %}
